.card > img{
    width: 175px;
    height: auto;
    margin: 0 0;
}

.card:hover{
    transform: scale(1.08);
}

.card{
    width: 250px;
    padding: 10px;
    font-family: arial;
    justify-content: left;
}

.card > h2{
    padding-top: 12px;
    text-align: center;
}