.card > img{
    width: 175px;
    height: 175px;
    margin: auto auto;
    display: block;
}

.card:hover{
    transform: scale(1.08);
}

.card{
    width: 250px;
    height: 300px;
    padding: 10px;
    margin: 10px 5px;
    font-family: arial;
    justify-content: center;
    -webkit-box-shadow: 5px 5px 16px -6px rgba(0,0,0,0.65); 
    box-shadow: 5px 5px 16px -6px rgba(0,0,0,0.65);
    background-color: white;
}

.card > h2{
    padding-top: 12px;
    text-align: center;
}