.card > img{
    width: 175px;
    height: auto;
    margin: auto auto;
    display: block;
}

.card:hover{
    transform: scale(1.08);
}

.card{
    width: 250px;
    height: 300px;
    padding: 10px;
    font-family: arial;
    justify-content: center;
    margin: 0px 5px;
}

.card > h2{
    padding-top: 12px;
    text-align: center;
}