.topLeft{
    margin-left: 70px;
    display: flex;
    align-items: center;
}

.userImage > img{
    width: 400px;
    height: 400px;
}

.topSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.scrollmenu{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.bottomSection > h2{
    color: black;
    margin-left: 70px;
}

.popup {
    font-size: 12px;
  }
  .popup > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .popup > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .popup > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .popup > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }