.card > img{
    height: 300px;
    width: 500px;
    object-fit: contain;
}

.card:hover{
    transform: scale(1.08);
}

.card{
    width: 500px;
    height: 400px;
    padding: 20px;
    transition: transform 90ms;
}

.card > h2{
    padding-top: 12px;
    text-align: center;
}