.donationHeading{
    text-align: left;
    margin-left: 39px;
    display: flex;
    justify-content: space-between;
}

.button{
    color: white;
    background-color: #ff7779;
    padding: 10px;
    border: none;
    text-align: center;
    display: inline-block;
}